<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<link rel="icon" href="assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="assets/fonts/icomoon/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
    <link rel="stylesheet" href="assets/css/mystyle.css">

    <title>MediTech</title>
  </head>
  <body class="signin-body">
	<nav id="navigation" class="navbar navbar-fixed-top navbar-expand-lg">
  	<a class="navbar-brand" href="/"><img src="assets/images/icon1.png"></a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
	  	<div class="collapse navbar-collapse" id="navbarNav">
	    	<ul class="navbar-nav">
	      		<li class="nav-item active">
		        	<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="blog">Blog</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="#">About</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="#">Contact Us</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="#bookappointment">Book Appointment</a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="login">Sign In</a>
		      	</li>
	    	</ul>
  		</div>
	</nav>


  	<div class="signincontent">
    	<div class="container">
      		<div class="row">
        		<div class="col-md-8 my-5 contents">
          			<div class="row justify-content-center">
            			<div class="col-md-8">
              				<div class="my-4">
				              <h3 class="py-3">Sign In to <strong>Book Appointment</strong></h3>
				            </div>
            <form action="signup" method="post">
              <div class="form-group row">
                  <label for="designation" class="col-md-4 col-form-label">Sign In As: </label>
                  <div class="col-md-8">
                      <select class="form-control" id="designation" name="designation" required>
                        <option value="">Select</option>
                        <option value="Physician">Physician</option>
                        <option value="Patient">Patient</option>
                      </select>
                  </div>
              </div>

              <div class="form-group row">
                  <label for="title" class="col-md-4 col-form-label">Title: </label>
                  <div class="col-md-8">
                      <select class="form-control" id="title" name="title" required>
                        <option>Select</option>
                        <option>Mr.</option>
                        <option>Mrs.</option>
                        <option>Ms.</option>
                      </select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="firstName" class="col-md-4 col-form-label">First Name: </label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="lastName" class="col-md-4 col-form-label">Last Name: </label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="birthDate" class="col-md-4 col-form-label">Date of Birth: </label>
                  <div class="col-md-8">
                    <input class="form-control" id="birthDate" name="birthDate" placeholder="MM/DD/YYYY" type="text"/>
                  </div>
                </div>


                <div class="form-group row">
                    <legend class="col-form-label pt-0 col-md-4">Gender:</legend>
                    <div class="col-md-8">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                        <label class="form-check-label" for="male">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">Female</label>
                      </div>
                    </div>
                </div>

                <div class="form-group row">
                  <label for="email" class="col-md-4 col-form-label">Email:</label>
                  <div class="col-md-8">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="password" class="col-md-4 col-form-label">Password:</label>
                  <div class="col-md-8">
                    <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="phone" class="col-md-4 col-form-label">Phone:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="+1......" required>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="age" class="col-md-4 col-form-label">Age:</label>
                  <div class="col-md-8">
                    <input type="text" class="form-control" id="age" name="age" placeholder="Age" required>
                  </div>
                </div>

                <div id="physicianfields" class="physicianarea">

                  <div class="form-group row">
                    <label for="clinicAddress" class="col-md-4 col-form-label">Clinic Address:</label>
                    <div class="col-md-8">
                      <textarea class="form-control" id="clinicAddress" name="clinicAddress" placeholder="Clinic Address" rows="3" required></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="practicingSince" class="col-md-4 col-form-label">Practicing Since:</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="practicingSince" name="practicingSince" placeholder="In years or months" required>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="specifications" class="col-md-4 col-form-label">Specification:</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="specifications" name="specifications" placeholder="" required>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="languages" class="col-md-4 col-form-label">Language(s):</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="languages" name="languages" placeholder="" required>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="education" class="col-md-4 col-form-label">Education:</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" id="education" name="education" placeholder="Highest Degree" required>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="rewards" class="col-md-4 col-form-label">Award(s):</label>
                    <div class="col-md-8">
                      <textarea class="form-control" id="awards" name="awards" placeholder="Awards..." rows="4" required></textarea> 
                    </div>
                  </div>

                </div>

                <div id="patientfields" class="patientarea">

                  <div class="form-group row">
                    <label for="homeAddress" class="col-md-4 col-form-label">Home Address:</label>
                    <div class="col-md-8">
                      <textarea class="form-control" id="homeAddress" name="homeAddress" placeholder="Home Address" rows="3" required></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="sickness" class="col-md-4 col-form-label">Sickness:</label>
                    <div class="col-md-8">
                      <textarea class="form-control" id="sickness" name="sickness" placeholder="Sickness" rows="3" required></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="allergies" class="col-md-4 col-form-label">Allergies:</label>
                    <div class="col-md-8">
                      <textarea class="form-control" id="allergies" name="allergies" placeholder="Allergies" rows="3" required></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="specialReqs" class="col-md-4 col-form-label">Special Requests:</label>
                    <div class="col-md-8">
                      <textarea class="form-control" id="specialReqs" name="specialReqs" placeholder="Special Requests" rows="3" required></textarea>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="prescriptions" class="col-md-4 col-form-label">Prescriptions:</label>
                    <div class="col-md-8">
                      <textarea class="form-control" id="prescriptions" name="prescriptions" placeholder="Prescriptions" rows="3" required></textarea>
                    </div>
                  </div>
                </div>

              <input id="signup" type="submit" value="Sign Up" class="btn text-white btn-block btn-primary">
              </form>
              <div class="signclass my-4">
                <div class="signlink text-right d-inline font-weight-bold"><a href="login">Login</a></div>
                <span class="d-inline text-left text-muted"> or sign in with</span>
              </div>
              
              <div class="social-login">
                <a href="https://www.facebook.com/" class="facebook" target="_blank">
                  <span class="icon-facebook mr-3"></span> 
                </a>
                <a href="https://twitter.com/login?lang=en" class="twitter" target="_blank">
                  <span class="icon-twitter mr-3"></span> 
                </a>
                <a href="https://accounts.google.com/ServiceLogin/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&osid=1&service=mail&ss=1&ltmpl=default&rm=false&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="google" target="_blank">
                  <span class="icon-google mr-3"></span> 
                </a>
              </div>
            </div>
          </div>
          
        </div>
        

          <div class="col-md-4 signright order-md-2">
            <img src="assets/images/beat.gif" alt="Image" class="img-fluid">
            <img src="assets/images/pin.png" alt="Image" class="img-fluid">
          </div>

      </div>
    </div>
  </div>

   <footer class="border-top footer mt-3 w-100">
	        <div class="footer-block sticky-stopper">
	            <div class="container">
	              <div class="row mt-5">
	                    <div class="col-md-4">
	                      <div class="logoimg text-center"><a href="/"><img src="assets/images/icon1.png"></a></div>
	                      <p class="desc text-justify my-3">We believe in serving all people with responsibilities. 
	                      We provide flexibility to the people so that they can get benefits according to their needs.</p>
	                    </div>
	                    <div class="footright col-md-4">
	                      <div class="footlist mx-5">
	                        <p class="listtitle font-weight-bold">Useful Links</p>
	                        <li class="foot-item"><a class="foot-link" href="/">Home</a></li>
	                      	<li class="foot-item"><a class="foot-link" href="blog">Blog</a></li>
	                      	<li class="foot-item"><a class="foot-link" href="#">About</a></li>
	                       	<li class="foot-item"><a class="foot-link" href="#">Contact Us</a></li>
	                      	<li class="foot-item"><a class="foot-link" href="book.ejs">Book An Appointment</a></li>
	                    	</div>
	                  	</div> 
	                  <div class="col-md-4">
	                  	<p class="lasttitle font-weight-bold">Contact</p>
	                  	<p>Our Clinic</p>
	                  	<p>E-mail: meditech.ca@outlook.com</p>
	                  </div>                
	                <div class=" mt-4 text-left font-weight-bold"><p>&copy; MediTech 2021, All Right Reserved</p> </div>
	              </div>
	            </div>
	        </div>
	    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script>
      $(document).ready(function(){
        var date_input=$('input[name="birthDate"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
          format: 'mm/dd/yyyy',
          container: container,
          todayHighlight: true,
          autoclose: true,
        };
        date_input.datepicker(options);
      })
    </script>

    <script>
        $("#designation").change(function() {
        if ($(this).val() == "Physician") {
          $('#physicianfields').show();
          $('#patientfields').hide();
        }
         else if ($(this).val() == "Patient") {
          $('#patientfields').show();
          $('#physicianfields').hide();
        } 
        else {
          $('#physicianfields').hide();
          $('#patientfields').hide();
        }
      });
      $("#designation").trigger("change");
    </script>

  </body>
</html>